<app-header class="riderheader"></app-header>
<main class="riderbody">
<section class="main processpage">
<div class="container">
<div class="horizontal-process text-center">
<ul>
<li class="active"><a><div class="icon"><img src="../../../assets/images/icon-worker-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-worker-white.svg" class="w-100 active-show"/></div>
<div class="name">General
Information</div>
</a>
</li>
<li><a><div class="icon"><img src="../../../assets/images/icon-personal-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-personal-white.svg" class="w-100 active-show"/></div>
<div class="name">Personal
Information</div>
</a>
</li>
<li><a><div class="icon"><img src="../../../assets/images/icon-add-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-add-white.svg" class="w-100 active-show"/></div>
<div class="name">Contact Person
Details</div>
</a></li>
<li><a><div class="icon"><img src="../../../assets/images/icon-list-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-list-white.svg" class="w-100 active-show"/></div>
<div class="name">Upload Documents</div>
</a></li>
</ul>
</div>
<form>
<div class="step-1">
<div class="red-title">General  Information</div>
<div class="row">
<div class="col-md-6 col-lg-4 col-xl-4">
<div class="form-group">
    <label>What city do you apply to work in ?</label>
    <select class="form-control">
    <option selected="selected">ex. Pattaya</option>
    <option selected="selected">Pattaya</option>
    <option selected="selected">Pattaya</option>
    </select>
  </div>
</div>
<div class="col-md-6 col-lg-4 col-xl-4">
<div class="form-group">
    <label>How long have you lived in this city?</label>
    <input type="text" class="form-control" placeholder="ex.  5 years"/>
  </div>
</div>
<div class="col-md-6 col-lg-4 col-xl-4">
<div class="form-group">
    <label>How many years experiance do they have from Delivery sevice?</label>
    <input type="text" class="form-control" placeholder="ex.  5 years"/>
  </div>
</div>
<div class="col-md-6 col-lg-4 col-xl-4">
<div class="form-group">
    <label>Where have they been working before:</label>
    <input type="text" class="form-control" placeholder="ex. foodpanda, grab"/>
  </div>
</div>
<div class="col-12 col-xl-12 btn-box text-center">
<a>Next</a>
</div>
</div>
</div>
</form>
</div>
<div class="bike"><img src="../../../assets/images/bigmotorcycle.png" class="w-100"/></div>
</section>
<section class="riderfaq">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">Frequently Asked Questions</div></h2>
<div class="slider">
<app-riderfaqs></app-riderfaqs>
</div>
</div>
</section>
</main>
<app-footer></app-footer>