<app-header class="header-show-search"></app-header>
<main class="page-padding">
<div class="container">
<div class="red-page-title">My Profile</div>
<app-profileshort></app-profileshort>
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3">
<app-profilenav></app-profilenav>
</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="payment-method">
<div class="width-550-box">
<div class="name"> Credit or Debit card</div>
<div class="box">
<form>
<div class="row">
<div class="col-md-12">
  <div class="form-group">
    <label>Cardholder Name</label>
    <input type="text" class="form-control" placeholder="Bhargav Patel" disabled="disabled">
  </div>
</div>  
<div class="col-md-7">
<div class="form-group">
    <label>Card Number</label>
    <input type="text" class="form-control" placeholder="1234-5678-9945-0345" disabled="disabled">
  </div>
</div>
<div class="col-md-5">
<div class="form-group">
    <label>CVV</label>
    <input type="number" class="form-control" placeholder="509" disabled="disabled">
  </div>
</div>
<div class="col-md-7">
<div class="form-group">
    <label>Expiration Date</label>
    <input type="text" class="form-control" placeholder="19-02-2020" disabled="disabled">
  </div>
</div>
<div class="col-md-5 text-right">
<div class="payment-icon">
<a><img src="../../../assets/images/payment-visa-icon.png" /></a>
<a><img src="../../../assets/images/payment-master-icon.png" /></a>
  </div>
</div>
<div class="col-md-12 text-right">
  <a class="border-btn">Link Account</a>
</div>  
</div>  
</form>
<div></div>
</div>
<div class="name"> Add Paypal</div>
<div class="box">
<form>
<div class="row">
<div class="paypal-icon"><img src="../../../assets/images/paypal-icon.png" class="w-100"/></div>
<div class="col-md-12 text-right">
  <a class="border-btn">Link Account</a>
</div>  
</div>  
</form>
<div></div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
