<app-header class="riderheader"></app-header>
<main class="riderbody">
<section class="signupform section">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-7 col-xl-7">
<div class="image">
<img src="../../../assets/images/rideronroad.png" class="w-100"/>
</div>
</div>
<div class="col-md-6  col-lg-5 col-xl-5">
<div class="form-box">
<div class="title"><span>Riding isn’t a last resort.</span> 
It’s a new beginning.</div>
 <form action="#">
   <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-user-grey.svg"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Name" id="name">
  </div>
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.svg"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email">
  </div>
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-phone-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="Mobile Number" id="mobilenumber">
     <div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    +65 <i class="fas fa-angle-down"></i>
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</div> 
    <a class="border-btn">Verify</a>
  </div>
  <div class="form-group icon-left">
  <div class="icon"><img src="../../../assets/images/icon-pin-grey.svg" class="w-100"/></div>
  <select class="form-control">
  <option selected="selected">Service Area</option>
  </select>
  </div>
  <div class="form-group custom-checkbox">
      <input type="checkbox" id="css">
      <label for="css"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span></label>
    </div>
  <button type="submit" class="btn btn-primary">Sign up</button>
</form> 
</div>
</div>
</div>
</div>
</section>
<section class="signupdetail section">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">How to signup</div></h2>
<div class="row">
<div class="col-md-6">
<div class="mobile-screen">
<img src="../../../assets/images/loginscreen.png" class="w-100"/>
</div>
</div>
<div class="col-md-6">
<div class="rider-process">
<ul>
<li class="active"><a><div class="title">Fill out form</div>
<div class="subtitle">Launch the app to start receiving order bookings</div>
</a></li>
<li><a><div class="title">You’ll receive OTP code through SMS</div>
<div class="subtitle">Accept a order booking to receive your Restaurant details</div>
</a></li>
<li><a><div class="title"> Upload required documents</div>
<div class="subtitle">A GPS navigation system will show the Restaurant's location to be picked up</div>
</a></li>
<li><a><div class="title">Sign up process is complete. You’re now ready to take jobs!</div>
<div class="subtitle">Select Drop Off once you've reached your destination and collect your fare</div>
</a></li>
</ul>
</div>
</div>
</div>
<div class="row flow">
<div class="col-md-4">
<h2 class="head">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">Why rider <br />with us?</div>
</h2>
</div>
<div class="col-md-8">
<div class="image"><img src="../../../assets/images/riderprocess.png" class="w-100"/></div>
<ul>
<li>Earn More</li>
<li>Safety</li>
<li>Community</li>
</ul>
</div>
</div>
</div>
</section>
<section class="riderfeature">
<div class="feature-1">
<div class="container">
<div class="row">
<div class="col-md-3">
<h2 class="head">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">Ride with <br />Hungry Now</div>
</h2>
</div>
<div class="col-md-7">
<div class="img">
<a href="#" class="play-btn"><i class="far fa-play-circle"></i></a>
<img src="../../../assets/images/rightwithbox.jpg" class="w-100"/></div>
</div>
<div class="col-md-2">
<div class="logo"><img src="../../../assets/images/funfact-logo.png" class="w-100"/></div>
</div>
</div>
</div>
</div>
<div class="feature-2">
<div class="image">
<div class="content-text">
<div class="icon"><img src="../../../assets/images/quate.png" class="w-100"/></div>
driving with us is safer, more seamless, <span>and more rewarding.</span>
</div>
<img src="../../../assets/images/riderimage.jpg" class="w-100"/></div>
</div>
<div class="feature-3">
<div class="container">
<div class="box">
<div class="icon"><img src="../../../assets/images/quate.png" class="w-100"/></div>
<div class="name"><div class="light">Choose</div> your time</div>
<p>Choose your working time. Rest time Can take to do what you love again</p>
</div>
</div>
</div>
</section>
<section class="downloadapp">
<div class="container">
<h2 class="head center"><div class="name">Download The hungry now  rider App Now!</div></h2>
<div class="box">
<div class="row">
<div class="col-md-6">
<div class="label"> Scan QR Code</div>
<div class="qr"><img src="../../../assets/images/qrcode.png" class="w-100"/></div>
</div>
<div class="col-md-6">
<div class="label"> Download app</div>
<div class="store-btn">
<a><img src="../../../assets/images/googleplay.png" class="w-100"/></a>
<a><img src="../../../assets/images/appstore.png" class="w-100"/></a>
</div>
</div>

</div>
</div>
</div>
</section>
<section class="section">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">How it work</div></h2>
<div class="row">
<div class="col-md-6">
<div class="mobile-screen">
<img src="../../../assets/images/loginscreen.png" class="w-100"/>
</div>
</div>
<div class="col-md-6">
<div class="rider-process">
<ul>
<li class="active"><a><div class="title">Receive a job</div>
<div class="subtitle">Launch the app to start receiving order bookings</div>
</a></li>
<li><a><div class="title">Accept a booking</div>
<div class="subtitle">Accept a order booking to receive your Restaurant details</div>
</a></li>
<li><a><div class="title">Pick-up your Food</div>
<div class="subtitle">A GPS navigation system will show the Restaurant's location to be picked up</div>
</a></li>
<li><a><div class="title">Drop-off your Food</div>
<div class="subtitle">Select Drop Off once you've reached your destination and collect your fare</div>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="riderfaq">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">Frequently Asked Questions</div></h2>
<div class="slider">
<app-riderfaqs></app-riderfaqs>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
