<header class="headerwithoutsearch" id="header">
<div class="container">
<div class="row">
<div class="col-4 col-sm-4 col-md-2 col-lg-2 col-xl-2">
<div class="logo">
<img src="../../../assets/images/logo.png" class="w-100" />
</div>
</div>
<div class="col-12 col-md-4 col-lg-6 col-xl-6 order-3 order-md-2">
<div class="searchfrom">
<form>
<div class="searchicon"><i class="fa fa-search"></i></div>
<input type="text" placeholder="Search Food or Restaurant..."/>
<button type="submit">Search</button>
<div class="filter"><img src="../../../assets/images/filter.svg" class="w-100"/></div>
</form>
</div>
</div>
<div class="col-8 col-sm-8 col-md-6 col-lg-4 col-xl-4 order-2 order-md-3 text-right">
<div class="btn-box">
<div class="login-btn"><a href="#"> <div class="icon"><img src="../../../assets/images/login-user.svg" class="w-100 hover-hide"/><img src="../../../assets/images/login-user-hover.svg" class="w-100 hover-show"/></div> Login / Register</a></div>
<div class="language">
<div class="dropdown show">
  <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="flag"><img src="../../../assets/images/ukflag.png"/></span> <span class="white-bg">ENG <span class="downicon"><img src="../../../assets/images/downarrow.png"/></span></span>
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</header>