<app-header class="riderheader"></app-header>
<main class="riderbody merchantstep">
<section class="main processpage">
<div class="horizontal-process text-center">
<ul>
<li class="active"><a><div class="icon"><img src="../../../assets/images/icon-hotel-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-hotel-white.svg" class="w-100 active-show"/></div>
<div class="name">Company
Information</div>
</a>
</li>
<li  class="active"><a><div class="icon"><img src="../../../assets/images/icon-resto-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-resto-white.svg" class="w-100 active-show"/></div>
<div class="name">Restaurant
Information</div>
</a>
</li>
<li class="active"><a><div class="icon"><img src="../../../assets/images/icon-personal-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-personal-white.svg" class="w-100 active-show"/></div>
<div class="name">Owner 
Information</div>
</a></li>
<li  class="active"><a><div class="icon"><img src="../../../assets/images/icon-list-grey.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-list-white.svg" class="w-100 active-show"/></div>
<div class="name">Sign In 
Contact</div>
</a></li>
</ul>
</div>
<form>
<div class="step-1">
<div class="red-title">TERMS AND CONDITIONS</div>
<div class="custom-tab">
<div class="tab-card">
<div class="text-right">
<div class="container">
<div class="lable">Select Language</div>
        <div class="tab-card-header">
        
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Eng</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Thai</a>
            </li>
          </ul>
        </div>
        </div>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
           <div class="container">
           <div class="term-box">
           <div class="box">
           <div class="name">INSTALLATION AND USE</div>
           <p>You may install and use the service as detailed above, including updates, supplements, internet-based services, and support services.</p>
           </div>
           <div class="box">
           <div class="name">LICENCE</div>
           <p>The services are licensed, not sold. Any use of the services is subject to the terms and conditions as determined by Hungry Now from time to time. This Agreement grants you a license to use the software solely for the purposes of the services. Hungry Now reserves all other rights, and you may use the services only as expressly permitted in this agreement, and Hungry Now’s privacy policy and terms of use which are incorporated herein. In doing so, you must comply with any technical limitations in the Services that only allow you to use it in certain ways.</p>
           </div>
           <div class="box">
           <div class="name">INTERNET-BASED SERVICES</div>
           <p>Hungry Now provides internet-based services which will automatically connect to Hungry Now’s computer systems over the internet and transmit computer information to Hungry Now without separate notice to you. By using the services, you consent to the transmission of this information. Hungry Now may use the information to identify or contact you or the owners of the data within the context of the business relationship. Where Hungry Now provides Internetbased services it may change them at any time. Where you make use of any of Hungry Now internet-based services you agree that the provision and use of such services shall be contingent upon your provision of an internet connection and infrastructure that is able to sustain a consistent download speed up of not less than 2 Mbps.</p>
           </div>
           <div class="box">
           <div class="name">SUPPORT SERVICES</div>
           <p>Hungry Now agrees to perform basic support services such that, to the best of Hungry Now’s reasonable endeavours, Hungry Now may provide you with the services. Further, you also acknowledge and agree that the services are provided on an “as is” and “as available” basis, and that your use of or reliance upon the services is at your own risk, and that Hungry Now does not represent or warrant that the services will be uninterrupted or error free at all times. You fully agree that Hungry Now will not be liable for any losses or damages suffered by you in relation to any delay or inability by Hungry Now and/or its software vendor(s) to provide the services and/or the support services. Basic support services will be provided at normal working hours and to the reasonable endeavours of Hungry Now. Hungry Now shall not be required to provide support services if</p>
           </div>
           <div class="box">
           <div class="name">PRIVACY</div>
           <p>You hereby expressly agree that you will abide by Hungry Now’s privacy policy and terms of use, and shall treat all personal data with the appropriate level of privacy and/or confidentiality. You further agree that you will at all times act in accordance with the law, and in particular with the relevant sections of the Data Protection Act of Thailand (as & when in force)</p>
           </div>
           <div class="box">
           <div class="name">CONFIDENTIALITY</div>
          <p>You agree to not disclose any information including but not limited to technical and commercial information about the services, support services, or internetbased services to any other party.</p>
           </div>
           <div class="box">
           <div class="name">SUPPORT SERVICES</div>
           <p>Hungry Now agrees to perform basic support services such that, to the best of Hungry Now’s reasonable endeavours, Hungry Now may provide you with the services. Further, you also acknowledge and agree that the services are provided on an “as is” and “as available” basis, and that your use of or reliance upon the services is at your own risk, and that Hungry Now does not represent or warrant that the services will be uninterrupted or error free at all times. You fully agree that Hungry Now will not be liable for any losses or damages suffered by you in relation to any delay or inability by Hungry Now and/or its software vendor(s) to provide the services and/or the support services. Basic support services will be provided at normal working hours and to the reasonable endeavours of Hungry Now. Hungry Now shall not be required to provide support services if</p>
           </div>
           <div class="box">
           <div class="name">PRIVACY</div>
           <p>You hereby expressly agree that you will abide by Hungry Now’s privacy policy and terms of use, and shall treat all personal data with the appropriate level of privacy and/or confidentiality. You further agree that you will at all times act in accordance with the law, and in particular with the relevant sections of the Data Protection Act of Thailand (as & when in force)</p>
           </div>
           <div class="box">
           <div class="name">CONFIDENTIALITY</div>
          <p>You agree to not disclose any information including but not limited to technical and commercial information about the services, support services, or internetbased services to any other party.</p>
           </div>
           </div>
           </div>
           <div class="checkbox">
           <div class="container">
           <div class="label"> 18 June 2020</div>
           <div class="form-group custom-checkbox">
      <input type="checkbox" id="option1">
      <label for="option1"><span>Both parties agreement results in the terms and conditions of the contract becoming the mutual consent of both (or, all) parties involved and the Merchant willing to accept Hungry Now vouchers and agree to the above terms and conditions of this Hungry Now merchant restaurants agreement.</span></label>
    </div>
           <div class="form-group custom-checkbox">
      <input type="checkbox" id="option2">
      <label for="option2"><span>I guarantee that i have the right to sign for this company and all the information is correct.</span></label>
    </div>
           </div>
           </div>
          </div>
          <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">    
          </div>

        </div>
      </div>
</div>
<div class="col-12 col-xl-12 btn-box text-center">
<a>Finish the Registration</a>
</div>
</div>
</form>

</section>
<section class="riderfaq">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">Frequently Asked Questions</div></h2>
<div class="slider">
<app-riderfaqs></app-riderfaqs>
</div>
</div>
</section>
</main>
<app-footer></app-footer>