<footer>
<div class="container">
<div class="row">
<div class="col-6 col-md-6"><div class="footer-logo">
<img src="../../../assets/images/footer-logo.png" class="w-100"/>
</div></div>
<div class="col-6 col-md-6"><div class="top-btn">
<a (click)="gotoTop()"><i class="fas fa-angle-up"></i></a>
</div></div>
</div>
<div class="row">
<div class="col-12 col-sm-6 col-md-6  col-lg-3 col-xl-3">
<div class="widget">
<h3>useful links</h3>
<ul>
<li><a href="#">Home</a></li> 
<li><a href="#">Merchant Registration</a></li>  
<li><a href="#">FAQ</a></li> 
<li><a href="#">Become a Rider</a></li>
</ul>
</div>
</div>
<div class="col-12 col-sm-6 col-md-6  col-lg-2  col-xl-2">

<div class="widget">
<h3>Quick Links</h3>
<ul>
<li><a href="#">Support </a></li>
<li><a href="#">Contact Us </a></li>
<li><a href="#">Press </a></li>
<li><a href="#">Career </a></li>
<li><a href="#">Hungry Now Foundation </a></li>
<li><a href="#">Terms & Conditions </a></li>
<li><a href="#">Privacy Policy</a></li>
</ul>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6  col-lg-4  col-xl-4">
<div class="widget">
<h3>download our app</h3>
<p>
Hungry Now is a fast and reliable food delivery service in Pattaya. Providing our hungry customers with a secure and easy way to order and pay for food from our partnered restaurant throughout Pattaya. Hungry Now gives 
</p>
<div class="app-btn-box">
<a href="#"><img src="../../../assets/images/googleplay.png" /></a>
<a href="#" ><img src="../../../assets/images/appstore.png" /></a>
</div>
</div>
</div>
<div class="col-12 col-sm-12 col-md-6 col-lg-3  col-xl-3">

<div class="widget">
<h3>Follow us</h3>
<ul class="social">
<li><a href="#"><img src="../../../assets/images/social-facebook.svg" class="w-100 hover-hide"/><img src="../../../assets/images/social-facebook-hover.svg" class="w-100 hover-show"/></a></li> 
<li><a href="#"><img src="../../../assets/images/social-youtube.svg" class="w-100 hover-hide"/><img src="../../../assets/images/social-youtube-hover.svg" class="w-100 hover-show"/></a></li>  
<li><a href="#"><img src="../../../assets/images/social-linkedin.svg" class="w-100 hover-hide"/><img src="../../../assets/images/social-linkedin-hover.svg" class="w-100 hover-show"/></a></li> 
<li><a href="#"><img src="../../../assets/images/social-twitter.svg" class="w-100 hover-hide"/><img src="../../../assets/images/social-twitter-hover.svg" class="w-100 hover-show"/></a></li>
<li><a href="#"><img src="../../../assets/images/social-instagram.svg" class="w-100 hover-hide"/><img src="../../../assets/images/social-instagram-hover.svg" class="w-100 hover-show"/></a></li>
</ul>
<div class="copyrights">@2020 Hurngry Now co.ltd.</div>
</div>
</div>
</div>
</div>
</footer>
