<app-header class="header-show-search"></app-header>
<main class="page-padding">
<div class="container">
<div class="red-page-title">My Profile</div>
<app-profileshort></app-profileshort>
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3">
<app-profilenav></app-profilenav>
</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="wallet-box">
<div class="ballance">
<div class="row">
<div class="col-md-6"><div class="name"><div class="icon"><img src="../../../assets/images/icon-wallet-red.svg" class="w-100"/></div> My Wallets:</div></div>
<div class="col-md-6 text-right"><div class="value"><span>$</span>40,150</div></div>
</div>
</div>
<div class="card-list">
<div class="box">
<div class="icon"><img src="../../../assets/images/payment-visa-icon.png" class="w-100"/></div>
<div class="details">
<div class="number">******** -5412 -4521</div>
<div class="name">Bhargav Patel</div>
</div>
<div class="more-btn"><a href="#"><i class="fas fa-angle-right"></i></a></div>
</div>
<div class="box">
<div class="icon"><img src="../../../assets/images/payment-master-icon.png" class="w-100"/></div>
<div class="details">
<div class="number">******** -5412 -4521</div>
<div class="name">Bhargav Patel</div>
</div>
<div class="more-btn"><a href="#"><i class="fas fa-angle-right"></i></a></div>
</div>
<div class="box">
<div class="icon"><img src="../../../assets/images/payment-visa-icon.png" class="w-100"/></div>
<div class="details">
<div class="number">******** -5412 -4521</div>
<div class="name">Bhargav Patel</div>
</div>
<div class="more-btn"><a href="#"><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
