<app-header class="header-show-search"></app-header>
<main>
<div class="container">
<div class="searchtitle">search result of “ <span>pizza</span> ” have  2000 restaurants</div>
<div class="our-restaurents">
<div class="row">
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn active"><i class="fas fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-8 col-md-8"><div class="title">MC Donald</div></div>
       <div class="col-4 col-md-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
<div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-3">
<div class="image-box">
     <div class="img">
     <img src="../../../assets/images/recentimage1.jpg" class="w-100"/>
     <a class="like-btn"><i class="far fa-heart"></i></a>
     <div class="time"><div class="number">30</div>
     <div class="text">MIN</div>
     </div>
     </div>
     <div class="info">
     <div class="row">
     <div class="col-md-8 col-8"><div class="title">MC Donald</div></div>
       <div class="col-md-4 col-4 text-right"><div class="rating"><i class="fas fa-star"></i> 3.0</div></div>
     </div>
     <div class="tags">Fastfood, Meals, hot Snacks</div>
     
     <div class="row">
     <div class="col-md-7 col-7 pr-0"><div class="free-btn"><div class="icon"><img src="../../../assets/images/motorbike.png" class="w-100"/></div> Free Delivery</div></div>
     <div class="col-md-5 col-5 text-right pl-0"><div class="border-btn"><a href="#">see menu</a></div></div>
     </div>
     </div>
     </div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
