<app-headerwithoutsearch></app-headerwithoutsearch>
<main class="authpages forgotpassword">
<div class="container">
<div class="form-box">
<div class="title">Forgot password?</div>
<p>Don’t worry! Resetting your password is easy. Just type in the email your registered to Hungry Now.</p>
 <form action="#">
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.svg"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>
</div>
</main>
<app-footer></app-footer>

