<app-header class="riderheader"></app-header>
<main class="support">
<section class="innerpagetitle d-table">
<div class="container d-table-cell align-middle">
<div class="title">welcome to our support center</div>
<form>
<input type="text" placeholder="Ask us your Query"/>
<button type="submit" class="red-btn">Submit</button>
</form>
</div>
</section>
<section class="body">
<div class="container">
<div class="row">
<div class="col-md-5 col-lg-5 col-xl-4">
<div class="topcontactbox">
<div class="logo"><img src="../../../assets/images/logo.png" class="w-100" /></div>
<div class="infobox"><div class="icon"><img src="../../../assets/images/icon-mail-white.svg" class="w-100"/></div> orders@hungrynow.co.th</div>
<div class="infobox"><div class="icon"><img src="../../../assets/images/icon-phone-white.svg" class="w-100"/></div> 028215444</div>
<div class="infobox"><div class="icon"><img src="../../../assets/images/icon-link-white.svg" class="w-100"/></div> https://hungrynow.co.th</div>
</div>
<div class="bottomcontactbox">
<div class="icon"><img src="../../../assets/images/headphone-yellow.svg" class="w-100"/></div>
<div class="label">Customer Care</div>
<div class="value">0 12457 45457</div>
</div>
</div>
<div class="col-md-7  col-lg-7 col-xl-8">
<p>
Please read our terms and conditions of use carefully when using this website. We reserve the right to vary the conditions of use at any time and will post any variations here you agree to comply with the policies of us (“Hungry Now”) including but not limited to the applicable laws and terms and conditions of use whether generally and specifically set forth in any part of this website (“Terms and Conditions”). In this regard, you understand and agree that the specified Terms and Conditions of Use are subjected to be changed without prior notice. If you do not agree to the Terms of  conditions of use please do not use or continue using the Application or the Service.
</p>
<p>
Hungry Now is a technology service company. Hungry Now  operates the Hungry Now Food platform; it does not provide transportation services, nor act as a transportation carrier or provider, courier, postal services provider, delivery services provider, food and beverage supplier or operator, taxi or private hire operator, nor act as an agent for any such person or entity.The Merchant acts as an independent, third party contractor carry
</p>

<form>
<div class="form-group">
<input type="text" placeholder="Name" class="form-control"/>
</div>
<div class="form-group">
<input type="email" placeholder="Email" class="form-control"/>
</div>
<div class="form-group">
<input type="text" placeholder="Phone" class="form-control"/>
</div>
<div class="form-group">
<textarea placeholder="Message" class="form-control"></textarea>
</div>
<div class="form-group text-center">
<button type="submit" class="red-btn">Send</button>
</div>
</form>

</div>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
