<app-header class="header-show-search"></app-header>
<main class="page-padding">
<div class="container">
<div class="red-page-title">My Profile</div>
<app-profileshort></app-profileshort>
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3">
<app-profilenav></app-profilenav>
</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="wallet-box rewards singlereward">
<div class="ballance">
<div class="row">
<div class="col-md-6"><div class="name"><div class="icon"><img src="../../../assets/images/icon-medal-red.svg" class="w-100"/></div> My Reward Points:</div></div>
<div class="col-md-6 text-right"><div class="value">40,150 points</div></div>
</div>
</div>
<div class="rewardpoint">
<div class="top">
<div class="box">
<a href="#"></a>
<div class="pt"><i class="fas fa-star dark"></i> 2500 points</div>
<div class="subpt">100 THB</div>
<div class="unlock"> <i class="fas fa-lock"></i> Unlolck Reward</div>
</div> <div class="box">
<a href="#"></a>
<div class="pt"><i class="fas fa-star dark"></i> 5000 points</div>
<div class="subpt">200 THB</div>
</div> <div class="box thirdbox">
<a href="#"></a>
<div class="pt"><i class="fas fa-star dark"></i> 10,000 points</div>
<div class="subpt">500 THB</div>
</div>
</div>
<div class="middle">
<div class="image"><img src="../../../assets/images/rewardpoint.png" class="w-100"/></div>
</div>
<div class="bottom">
<div class="box">
<a href="#"></a>
<div class="pt"><i class="fas fa-star dark"></i> 25,000 points</div>
<div class="subpt">1000 THB</div>
</div>
<div class="box">
<a href="#"></a>
<div class="pt"><i class="fas fa-star dark"></i> 15,000 points</div>
<div class="subpt">700 THB</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
