<app-header class="riderheader"></app-header>
<main class="career riderbody">
<section class="innerpagetitle d-table">
<div class="container d-table-cell align-middle">
<div class="title">Build the<br />
Future with us</div>
<div class="btn-box"><a class="red-btn">View Open Positions</a></div>
</div>
</section>
<section>
<div class="about">
<div class="container">
<div class="left">
<h2 class="head center">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">know more about us</div>
</h2>
<p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative e’re passionate about solving problems through creative communiations.

Communiations.</p>
<p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative e’re passionate about solving problems through creative communiations.

Communiations.</p>
<p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative e’re passionate about solving problems through creative communiations.

Communiations.</p>
</div>
<div class="right">
<owl-carousel [options]="careeraboutus"  [carouselClasses]="['owl-theme careeraboutus', 'sliding']">
<div class="item">
<img src="../../../assets/images/careerslide1.jpg" class="w-100"/>
</div>
<div class="item">
<img src="../../../assets/images/careerslide1.jpg" class="w-100"/>
</div>
<div class="item">
<img src="../../../assets/images/careerslide1.jpg" class="w-100"/>
</div>
<div class="item">
<img src="../../../assets/images/careerslide1.jpg" class="w-100"/>
</div>
<div class="item">
<img src="../../../assets/images/careerslide1.jpg" class="w-100"/>
</div>
</owl-carousel>
</div>
</div>
</div>
<div class="meethr">
<div class="container">
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-4">
<div class="image"><img src="../../../assets/images/careerwoman.png"/></div>
</div>
<div class="col-md-5 col-lg-5 col-xl-5"><h2 class="head">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">Meet Our Hr</div></h2>
<div class="icon"><img src="../../../assets/images/quate-red.png" class="w-100"/></div>
<p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative </p>
</div>
<div class="col-md-2 col-lg-3 col-xl-3"><div class="logo"><img src="../../../assets/images/funfact-logo.png" class="w-100"/></div></div>
</div>
</div>
</div>
<div class="openposition section">
<div class="container"> 
<h2 class="head center">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">open positions</div>
</h2>
<div class="joblist">
<div class="select">
<label>Select Location</label>
<select>
<option>Pattaya</option>
<option>test</option>
<option>test city</option>
</select>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
<div class="box">
<div class="row">
<div class="col-md-9"><a class="name">Android Enginner</a>
<div class="location">Pattaya, Full time</div>
</div>
<div class="col-md-3 text-right">
<a class="red-btn">Apply Now</a>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="careerphotos">
<div class="container-fluid">
<div class="row">
<div class="col-md-4 p-0">
<img src="../../../assets/images/careerfoot1.jpg" class="w-100"/>
</div>
<div class="col-md-4 p-0">
<img src="../../../assets/images/careerfoot2.jpg" class="w-100"/>
</div>
<div class="col-md-4 p-0">
<img src="../../../assets/images/careerfoot3.jpg" class="w-100"/>
</div>
</div>
</div>
</div>
<div class="howwehire section">
<div class="container">
<h2 class="head center">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">How we hire</div>
</h2>
<ul>
<li>
<div class="icon"><img src="../../../assets/images/icon-bill-white.svg" class="w-100"/></div>
<div class="name">Talk to us</div>
<p>Our initial conversations are focused on your strengths, so we can identify your best fit at Hungry Now</p>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-bill-white.svg" class="w-100"/></div>
<div class="name">Take the challenge</div>
<p>Our initial conversations are focused on your strengths, so we can identify your best fit at Hungry Now</p>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-bill-white.svg" class="w-100"/></div>
<div class="name">Meet us</div>
<p>During your in-person visits, we see your strengths in action through interviews and introduce you to the team.</p>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-bill-white.svg" class="w-100"/></div>
<div class="name">Join us</div>
<p>Once you’ve joined the company, we kick off onboarding to help you hit the ground running from day one.</p>
</li>
</ul>
</div>
</div>
</section>
<section class="downloadapp">
<div class="container">
<h2 class="head center"><div class="name">Download The hungry now  rider App Now!</div></h2>
<div class="box">
<div class="row">
<div class="col-md-6">
<div class="label"> Scan QR Code</div>
<div class="qr"><img src="../../../assets/images/qrcode.png" class="w-100"/></div>
</div>
<div class="col-md-6">
<div class="label"> Download app</div>
<div class="store-btn">
<a><img src="../../../assets/images/googleplay.png" class="w-100"/></a>
<a><img src="../../../assets/images/appstore.png" class="w-100"/></a>
</div>
</div>

</div>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
