<app-headerwithoutsearch></app-headerwithoutsearch>
<main class="authpages loginpage">
<div class="container">
<div class="form-box">
<div class="title">Login</div>
 <form action="#">
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.svg"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email">
  </div>
  <div class="form-group icon-left">
  <div class="icon"><img src="../../../assets/images/icon-key-grey.svg"/></div>
    <input type="password" class="form-control" placeholder="Password" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
  <a class="forgot-btn">Forgot password?</a>
</form> 
<div class="social-box">
<div class="label">Or login with</div>
<a class="facebook btn mr-2"><span class="icon"><img src="../../../assets/images/social-facebook-white.svg" class="w-100"/></span> Facebook</a>
<a class="google btn"><span class="icon"><img src="../../../assets/images/social-google-white.svg" class="w-100"/></span> Google</a>
</div>
<div class="new-user-box">
New User? <a href="#">Sign up here</a>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
