<app-header class="header-show-search"></app-header>
<app-topnav></app-topnav>
<main>
<div class="product-info">
<div class="container">
<div class="row">
<div class="col-md-4 col-lg-5 col-xl-5">
<div class="product-image"><img src="../../../assets/images/productimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-8 col-lg-7 col-xl-7">
<div class="product-detail">
<div class="row">
<div class="col-10 col-sm-10 col-md-9">
<div class="name">Pizza Zone & Fast food Restaurants</div>
<div class="tag">Fastfood, Meals, hot Snacks</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </p>
</div>
<div class="col-2 col-sm-2 col-md-3 text-right">
<a class="like-btn"><i class="fa fa-heart" aria-hidden="true"></i>
</a>
</div>
</div>
<div class="row">
<div class="col-md-8 col-lg-9 col-xl-9">
<ul>
<li><div class="text rating"><i class="fas fa-star"></i> 3.0</div>
<div class="label">Ratings</div>
</li>
<li><div class="text">30 min</div>
<div class="label">Delivery Time</div>
</li>
<li><div class="text">Free</div>
<div class="label">Delivery Time</div>
</li>
</ul>
</div>
<div class="col-md-4 col-lg-3 col-xl-3">
<div class="view-btn">
<a href="#">View More</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="product-list-box">
<div class="container">
<div class="row">
<div class="col-sm-4 col-md-4 col-lg-2 col-xl-2">
<div class="product-menu">
<ul>
<li><a href="#">All</a></li>
<li><a href="#">Sandwiches</a></li>
<li><a href="#">Other</a></li>
<li><a href="#" class="active">Poks Bowls</a></li>
<li><a href="#">Lean & Healthy</a></li>
<li><a href="#">Burgers</a></li>
<li><a href="#">All</a></li>
<li><a href="#">Sandwiches</a></li>
<li><a href="#">Other</a></li>
<li><a href="#">Poks Bowls</a></li>
<li><a href="#">Lean & Healthy</a></li>
<li><a href="#">Burgers</a></li>
<li><a href="#">All</a></li>
<li><a href="#">Sandwiches</a></li>
<li><a href="#">Other</a></li>
<li><a href="#">Poks Bowls</a></li>
<li><a href="#">Lean & Healthy</a></li>
<li><a href="#">Burgers</a></li>
</ul>

</div>

</div>
<div class="col-sm-8 col-md-8 col-lg-6 col-xl-6">
<div class="menu-item-scroll">
<div class="menu-title">Poks Bowls</div>
<div class="product-list">
<div class="product-box">
<div class="row">
<div class="col-3 col-sm-4 col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
</div>
<div class="menu-title">Burgers</div>
<div class="product-list">
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
<div class="product-box">
<div class="row">
<div class="col-md-3">
<div class="img"><img src="../../../assets/images/productlisimage.jpg" class="w-100"/></div>
</div>
<div class="col-md-6"><div class="name">The Poppy</div>
<p>Salami, brie, red onion and salad served on a crispy chin seed bun</p>
<ul>
<li><img src="../../../assets/images/productfeature1.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature2.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature3.png" class="w-100"/></li>
<li><img src="../../../assets/images/productfeature4.png" class="w-100"/></li>
</ul>
</div>
<div class="col-md-3 text-right">
<div class="price">
<div class="original">$150</div>
<div class="discount">$100</div>
</div>
<div class="add-btn">
<a>+ ADD</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
<div class="checkout">
<div class="box">
<div class="icon"><img src="../../../assets/images/receipt.png" class="w-100"/></div><div class="text">Your Order From
pizza zone &fast food restaurants</div>
</div>
<div class="box">
<div class="count d-inline-block">
<span>-</span> 1 <span>+</span>
</div><div class="right-text text-mute">The Poppy & burger with buy one get 1 free</div>
<div class="price">$230</div>
</div>
<div class="box">
<div class="mb-2 overflow-hidden">
<div class="label text-uppercase float-left">Subtotal</div>
<div class="value  float-right">$225</div>
</div>
<div class="line  overflow-hidden">
<div class="label text-uppercase float-left">Delivery Fees</div>
<div class="value  float-right">$0</div>
</div>
</div>
<div class="box border-none">
<div class="mb-2 overflow-hidden total">
<div class="label text-uppercase float-left">Total (INCL.)</div>
<div class="value  float-right">$230</div>

</div>
<div class="btn-box">
<a href="#">Proceed to Checkout</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
