<app-header class="riderheader"></app-header>
<main class="pressinner">
<div class="container">
<div class="box">
<div class="image">
<img src="../../../assets/images/pressinner-banner.jpg" class="w-100"/>
</div>
<div class="socailshare">
<div class="row">
<div class="col-md-6"><div class="date"><div class="icon"><img src="../../../assets/images/icon-calender-red.svg" class="w-100"/></div> 24th january 2020</div></div>
<div class="col-md-6 text-right">
<div class="socail-box"><div class="label">Share on</div>
<ul>
<li><a href="#"><img src="../../../assets/images/social-facebook.svg" class="w-100 active-hide" /><img src="../../../assets/images/social-facebook-red.svg" class="w-100 active-show" /></a></li>
<li><a href="#"><img src="../../../assets/images/social-youtube.svg" class="w-100 active-hide" /><img src="../../../assets/images/social-youtube-red.svg" class="w-100 active-show" /></a></li>
<li><a href="#"><img src="../../../assets/images/social-linkedin.svg" class="w-100 active-hide" /><img src="../../../assets/images/social-linkedin-red.svg"class="w-100 active-show" /></a></li>
<li><a href="#"><img src="../../../assets/images/social-twitter.svg" class="w-100 active-hide" /><img src="../../../assets/images/social-twitter-red.svg" class="w-100 active-show" /></a></li>
<li><a href="#"><img src="../../../assets/images/social-instagram.svg" class="w-100 active-hide" /><img src="../../../assets/images/social-instagram-red.svg" class="w-100 active-show" /></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt u</p>
<ul>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
<li><div class="listsymbol"><div class="innercircle"></div></div>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
</ul>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt u</p>
</div>
</div>
</main>
<app-footer></app-footer>
