<app-header class="header-show-search"></app-header>
<main>
<div class="container">
<div class="orderstatus orders position-relative">
<div class="title"><span>My Orders</span></div>
<div class="custom-tab">
<div class="tab-card">
        <div class="tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Active orders</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Complete orders</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
             <div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-track-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-track-white.svg" class="w-100 active-show"/></div>Track Order</a></li>
</ul>
</div>
<div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-track-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-track-white.svg" class="w-100 active-show"/></div>Track Order</a></li>
</ul>
</div>
<div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-track-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-track-white.svg" class="w-100 active-show"/></div>Track Order</a></li>
</ul>
</div>
<div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-track-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-track-white.svg" class="w-100 active-show"/></div>Track Order</a></li>
</ul>
</div>
          </div>
          <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
                     <div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-revieworder-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-revieworder-white.svg" class="w-100 active-show"/></div>Review Order</a></li>
</ul>
</div>
<div class="box">
<div class="top">
<div class="row">
<div class="col-md-6">
<div class="label">From</div>
<div class="name">Two Lions Restaurants & Dine</div>
</div>
<div class="col-md-6 text-right">
<div class="price">$230</div>
<div class="date"><span>10 MAY 2020</span> 01:24 PM</div>
</div>
</div>
</div>
<ul>
<li><a class="btn"> <div class="icon"><img src="../../../assets/images/icon-choices-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-choices-white.svg" class="w-100 active-show"/></div>See Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-bill-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-bill-white.svg" class="w-100 active-show"/></div>See Invoice</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-undo-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-undo-white.svg" class="w-100 active-show"/></div>Reapeat Order</a></li>
<li><a class="btn"><div class="icon"><img src="../../../assets/images/icon-revieworder-grey.svg" class="w-100  active-hide"/><img src="../../../assets/images/icon-revieworder-white.svg" class="w-100 active-show"/></div>Review Order</a></li>
</ul>
</div>      
          </div>

        </div>
      </div>
</div>

</div>

</div>
</main>
<app-footer></app-footer>