<div class="profile-box">
<div class="profile-name"><span>Bhargav Patel</span> <div class="icon"><img src="../../../assets/images/icon-gender-red.svg" class="w-100"/></div>40 Years</div>
<ul>
<li><div class="icon"><img src="../../../assets/images/icon-phone-grey.svg" class="w-100"/></div> +91 9574601665</li>
<li><div class="icon"><img src="../../../assets/images/icon-mail-grey.svg" class="w-100"/></div> pbhargav34@gmail.com</li>
<li><div class="icon"><img src="../../../assets/images/icon-gender-grey.svg" class="w-100"/></div> Male</li>
<li><div class="icon"><img src="../../../assets/images/icon-bdate-grey.svg" class="w-100"/></div> 18-05-1995</li>
</ul>
<a class="btn edit-btn">Edit Profile</a>
</div>
