<app-header class="header-show-search"></app-header>
<main class="page-padding">
<div class="container">
<div class="red-page-title">My Profile</div>
<app-profileshort></app-profileshort>
<div class="row">
<div class="col-md-5 col-lg-4 col-xl-3">
<app-profilenav></app-profilenav>
</div>
<div class="col-md-7 col-lg-8 col-xl-9">
<div class="reviews">
<div class="custom-tab tab-card">
        <div class="tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Restaurants</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Order</a>
            </li>
          </ul>
        </div>
        <div class="tab-content" id="reviewtabs">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>       
          </div>
          <div class="tab-pane fade" id="two" role="tabpanel" aria-labelledby="two-tab">
               <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>        
          </div>
          <div class="tab-pane fade" id="three" role="tabpanel" aria-labelledby="three-tab">
                <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>
             <div class="box">
             <div class="rating"><div class="icon"><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star dark"></i><i class="fas fa-star"></i><i class="fas fa-star"></i> </div> 3.0</div>
             <div class="name">Star Restaurant</div>
             <p>We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.We’re passionate about solving problems through creative communiations.</p>
             <div class="cname">- Ashish Mishra</div>
             </div>      
          </div>

        </div>
      </div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>