<app-header class="riderheader"></app-header>
<main class="press">
<div class="container">
<div class="top-news">
<owl-carousel [options]="topnews"  [carouselClasses]="['owl-theme careeraboutus', 'sliding']">
<div class="item">
<div class="row">
<div class="col-md-7 col-lg-7">
<div class="box">
<img src="../../../assets/images/presstopnews1.jpg" class="w-100"/>
<div class="info">
<div class="row">
<div class="col-md-8">
<div class="title">Our favorite form the Jenny Chef of Pattaya</div>
</div>
<div class="col-md-4">
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-5 col-lg-5">
<div class="box">
<img src="../../../assets/images/presstopnews2.jpg" class="w-100"/>
<div class="info">
<div class="row">
<div class="col-md-8">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a </div>
</div>
<div class="col-md-4">
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
<div class="box">
<img src="../../../assets/images/presstopnews3.jpg" class="w-100"/>
<div class="info">
<div class="row">
<div class="col-md-8">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a </div>
</div>
<div class="col-md-4">
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="item">
</div>
<div class="item">
</div>
<div class="item">
</div>
<div class="item">
</div>
</owl-carousel>
</div>
<div class="latest latest-news">
<div class="maintitle">LATEST NEWS</div>
<div class="row">
<div class="col-md-7 col-lg-9">
<div class="row">
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews3.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-5 col-lg-3">
<div class="bg-image-bottom-text">
<div class="image"><img src="../../../assets/images/pressrt1.jpg" class="w-100"/></div>
<div class="bottom-box">
<div class="name">Latest Images</div>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-7 col-lg-9">
<div class="row">
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews4.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
<div class="col-lg-4">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews3.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="date">Mar 04, 2015</div>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniamvoluptate velit esse cillum dolore eu fugiat nulla pariatur. </p>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="col-md-5 col-lg-3">
<div class="bg-image-bottom-text">
<div class="playbutton"><a href="#"><img src="../../../assets/images/icon-playbutton-white.svg" class="w-100 active-hide"/><img src="../../../assets/images/icon-playbutton-red.svg" class="w-100 active-show"/></a></div>
<div class="image"><img src="../../../assets/images/pressrt2.jpg" class="w-100"/></div>
<div class="bottom-box">
<div class="name">Latest Videos</div>
<a href=""><i class="fas fa-angle-right"></i></a>
</div>
</div>
</div>
</div>
</div>
<div class="latest">
<div class="maintitle">LATEST ARTICLES</div>
<div class="row">
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestar1.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestar2.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestar3.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestar4.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews1.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images/presslatestnews2.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images//presslatestnews3.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
<div class="col-md-6 col-lg-3">
<div class="box">
<div class="image"><img src="../../../assets/images//presslatestnews4.jpg" class="w-100"/></div>
<div class="info">
<div class="title">Meet Peter: Being Deaf Doesn’t Mean I Can’t Be a Driver</div>
<div class="row">
<div class="col-md-7"><div class="date">Mar 04, 2015</div></div>
<div class="col-md-5 text-right"><a href=""><i class="fas fa-angle-right"></i></a></div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>