<app-header class="riderheader"></app-header>
<main class="riderbody">
<section class="main thankyou">
<div class="container">
<div class="logo"><img src="../../../assets/images/thankyou.png" class="w-100"/></div>
<div class="maintitle">Thanks for <span>apply!</span></div>
<p>Thanks for applying hungry now rider
<br />You shoud receive a confirmation email soon.</p>
<div class="btn-box text-center">
<a>Go home</a>
</div>
</div>
<div class="bike"><img src="../../../assets/images/bigmotorcycle.png" class="w-100"/></div>
</section>
<section class="riderfaq">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">Frequently Asked Questions</div></h2>
<div class="slider">
<app-riderfaqs></app-riderfaqs>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
