.resetpassword
{
	background:url(../../../assets/images/resetpasswordbg.jpg);
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
	padding-top:150px;
	padding-bottom:120px;
	
}