<app-headerwithoutsearch></app-headerwithoutsearch>
<main class="authpages resetpassword">
<div class="container">
<div class="form-box">
<div class="title">Reset password?</div>
<p>Enter your New Password here and Login 
again.</p>
 <form action="#">
  <div class="form-group icon-left">
  <div class="icon"><img src="../../../assets/images/icon-key-grey.svg"/></div>
    <input type="password" class="form-control" placeholder="New Password" id="pwd">
  </div>
  <div class="form-group icon-left">
  <div class="icon"><img src="../../../assets/images/icon-key-grey.svg"/></div>
    <input type="password" class="form-control" placeholder="Confirm Password" id="pwd">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form> 
</div>
</div>
</main>
<app-footer></app-footer>

