<app-header class="header-show-search"></app-header>
<main>
<div class="product-list-box">
<div class="container">
<div class="row">
<div class="col-12 col-lg-8 col-xl-8">
<div class="bold-title">Checkout </div>
<div class="checkout-process">
<form>
<ul>
<li class="active">
<div class="process-icon">
<img src="../../../assets/images/icon-iphone-grey.svg" class="w-100 active-hide"/>
<img src="../../../assets/images/icon-iphone-white.svg" class="w-100 active-show"/>
</div>
<div class="top"><span class="name">contact info</span> <a class="toggle-btn" [ngClass]="showcontactinfo ? '' : 'hide'" (click)=" toggleContactinfo()"><i class="fas fa-angle-down"></i></a></div>
<div class="bottom" *ngIf="showcontactinfo">
<div class="row">
<div class="col-md-6"><div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-user-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="First Name" id="firstname">
  </div></div>
<div class="col-md-6"><div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-user-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="Last Name" id="lastname">
  </div></div>
<div class="col-md-6"><div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.svg"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email">
  </div></div>
<div class="col-md-6"><div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-phone-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="Phone Number" id="phonenumber">
  </div></div> 
</div>
</div>
</li>
<li>
<div class="process-icon"><img src="../../../assets/images/icon-pin-grey.svg" class="w-100 active-hide"/>
<img src="../../../assets/images/icon-pin-white.svg" class="w-100 active-show"/>
</div>
<div class="top"><span class="name">delivery address</span> <a class="toggle-btn"  (click)="toggleDelivery()"><i class="fas fa-angle-down"></i></a></div>
<div class="bottom" *ngIf="showdelivery">
<div class="tab-card">
        <div class="tab-card-header">
          <ul class="nav nav-tabs card-header-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="one-tab" data-toggle="tab" href="#one" role="tab" aria-controls="One" aria-selected="true">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="two-tab" data-toggle="tab" href="#two" role="tab" aria-controls="Two" aria-selected="false">Office</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="three-tab" data-toggle="tab" href="#three" role="tab" aria-controls="Three" aria-selected="false">Other</a>
            </li>
          </ul>
        </div>

        <div class="tab-content" id="myTabContent">
          <div class="tab-pane fade show active" id="one" role="tabpanel" aria-labelledby="one-tab">
          <div class="address-box">
           <div class="row">
           <div class="col-md-4">
           <div class="pin"> <div class="icon"><img src="../../../assets/images/mapicon.png" class="w-100" /></div>  <div class="text">Pin my location on the map</div></div>
           </div>
           <div class="col-md-8">
           <div class="address">
           <p>Akshya Nagar 1st Block 1st Cross, Rammurthy nagar, Bangalore-560016</p>
           <div class="btn-box"><a href="#"><i class="far fa-edit"></i></a><a href="#"><i class="far fa-trash-alt"></i></a></div>
           </div>
           </div>
           </div>
           </div>  
           <div class="row">
<div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">Select building type</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
<div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="My Village/Building" id="buildingname">
  </div></div>
<div class="col-md-12"><div class="form-group">
    <input type="text" class="form-control" placeholder="Address" id="Address">
  </div></div>
  <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Soi" id="soi">
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Moo" id="moo">
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">Province</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">Disctrict</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">Sub District</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
  <div class="col-md-6"><div class="form-group">
<select class="form-control" id="buildingtype">
      <option selected="selected">Postal Code</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Floor" id="floor">
  </div></div>
   <div class="col-md-6"><div class="form-group">
    <input type="text" class="form-control" placeholder="Room/House no." id="houseno">
  </div></div>
  <div class="col-md-12"><div class="form-group">
    <input type="text" class="form-control" placeholder="Note to rider" id="note">
  </div></div>
</div>         
          </div>
          <div class="tab-pane fade p-3" id="two" role="tabpanel" aria-labelledby="two-tab">
            <h5 class="card-title">Tab Card Two</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>              
          </div>
          <div class="tab-pane fade p-3" id="three" role="tabpanel" aria-labelledby="three-tab">
            <h5 class="card-title">Tab Card Three</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>              
          </div>

        </div>
      </div>
</div>
</li>
<li>
<div class="process-icon"><img src="../../../assets/images/icon-payment-grey.svg" class="w-100 active-hide"/>
<img src="../../../assets/images/icon-payment-white.svg" class="w-100 active-show"/>
</div>
<div class="top"><span class="name">payment method</span> <a class="toggle-btn" (click)="togglePaymentmethod()"><i class="fas fa-angle-down"></i></a></div>
<div class="bottom"  *ngIf="showpaymentmethod">
<div class="row">
<div class="col-md-6">
<div class="round-btn">
<span class="lable"><img src="../../../assets/images/icon-money-grey.svg"/> Cash on Delivery</span><div class="selection-tick custom-radio">
<input type="radio"  name="paymentmethod" value="cashondelivery">
<span class="checkmark"></span>
</div>
</div>
</div>
<div class="col-md-6">
<div class="round-btn">
<span class="lable"><img src="../../../assets/images/icon-card-grey.svg"/>Card Payment</span><div class="selection-tick custom-radio">
<input type="radio"  name="paymentmethod" value="card payment" checked="checked">
<span class="checkmark"></span>
</div>
</div>
</div> 
</div>
</div>
</li>
<li>
<div class="process-icon"><img src="../../../assets/images/icon-history-grey.svg" class="w-100 active-hide"/>
<img src="../../../assets/images/icon-history-white.svg" class="w-100 active-show"/>
</div>
<div class="top"><span class="name">Delivery Time</span> <div class="time float-right">ASAP - 35 Min</div></div>
</li>
</ul>
</form>
</div>
</div>
<div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
<div class="checkout">
<div class="box">
<div class="icon"><img src="../../../assets/images/receipt.png" class="w-100"/></div><div class="text">Your Order From
pizza zone &fast food restaurants</div>
</div>
<div class="box">
<div class="count d-inline-block">
<span>+</span> 1 <span>-</span>
</div><div class="right-text text-mute">The Poppy & burger with buy one get 1 free</div>
<div class="price">$230</div>
</div>
<div class="box">
<div class="mb-2 overflow-hidden">
<div class="label text-uppercase float-left">Subtotal</div>
<div class="value  float-right">$225</div>
</div>
<div class="line  overflow-hidden">
<div class="label text-uppercase float-left">Delivery Fees</div>
<div class="value  float-right">$0</div>
</div>
</div>
<div class="box border-none">
<div class="mb-2 overflow-hidden total">
<div class="label text-uppercase float-left">Total (INCL.)</div>
<div class="value  float-right">$230</div>

</div>
<div class="btn-box">
<a href="#">Proceed to Checkout</a>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</main>
<app-footer></app-footer>
