<app-header class="riderheader"></app-header>
<main class="faq">
<section class="innerpagetitle  d-table">
<div class="container  d-table-cell align-middle">
<div class="title">Frequently Asked Questions</div>
<div class="btn-box"><a class="red-btn">Ask Question</a></div>
</div>
</section>
<section class="body">
<div class="topic section">
<h2 class="head center">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">view FAQ By Topic</div>
</h2>
<ul>
<li>
<div class="icon"><img src="../../../assets/images/icon-faquser-red.svg" class="w-100"/></div>
<div class="label">User faq</div>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-faqmerchant-red.svg" class="w-100"/></div>
<div class="label">MERCHANT FAQ</div>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-faqrider-grey.svg" class="w-100"/></div>
<div class="label">RIDER FAQ</div>
</li>
<li>
<div class="icon"><img src="../../../assets/images/icon-faqgeneral-red.svg" class="w-100"/></div>
<div class="label">GENERAL FAQ</div>
</li>
</ul>
</div>
<div class="general section">
<h2 class="head center">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">generally Asked  quesion</div>
</h2>
<div class="container">
<div class="row">
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq1"><span>What is Hungry Now?</span><i class="fas fa-arrow-right"></i></a>
  <div id="faq1" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq2"><span>What are your opening hours?</span><i class="fas fa-arrow-right"></i></a>
  <div id="faq2" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq3"><span>What types of food can I order?</span>  <i class="fas fa-arrow-right"></i></a>
  <div id="faq3" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq4"><span>Where do you deliver?</span>  <i class="fas fa-arrow-right"></i></a>
  <div id="faq4" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq5"><span>What are your payment methods?</span><i class="fas fa-arrow-right"></i></a>
  <div id="faq5" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq6"><span>How long will it take for the order to reach me?</span>  <i class="fas fa-arrow-right"></i></a>
  <div id="faq6" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq7"><span>I do not live in your service area; can I still order from you?</span><i class="fas fa-arrow-right"></i></a>
  <div id="faq7" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq8"><span>Is it necessary to tip the driver</span> <i class="fas fa-arrow-right"></i></a>
  <div id="faq8" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
</div>
<div class="row">
<div class="col-lg-6">
<div class="box">
<a class="acc-title" data-toggle="collapse" data-target="#faq9"><span>What happens if I am missing items from my order when it is delivered?</span> <i class="fas fa-arrow-right"></i></a>
  <div id="faq9" class="collapse acc-body">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  </div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
