<app-header class="riderheader"></app-header>
<main class="riderbody merchantbody">
<section class="signupform section">
<div class="container">
<div class="row">
<div class="col-md-6 col-lg-6 col-xl-6">

</div>
<div class="col-md-6  col-lg-6 col-xl-6">
<div class="form-box">
<div class="title">
<span>More diners to satisfy.</span>
More business for you.
</div>
 <form action="#">
   <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-user-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="Restaurant Name" id="name">
  </div>
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-mail-grey.svg"  class="w-100"/></div>
    <input type="email" class="form-control" placeholder="Email" id="email">
  </div>
  <div class="form-group icon-left">
    <div class="icon"><img src="../../../assets/images/icon-phone-grey.svg"  class="w-100"/></div>
    <input type="text" class="form-control" placeholder="Mobile Number" id="mobilenumber">
     <div class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown">
    +65 <i class="fas fa-angle-down"></i>
  </a>
  <div class="dropdown-menu">
    <a class="dropdown-item" href="#">Link 1</a>
    <a class="dropdown-item" href="#">Link 2</a>
    <a class="dropdown-item" href="#">Link 3</a>
  </div>
</div> 
    <a class="border-btn">Verify</a>
  </div>
  <div class="form-group icon-left">
  <div class="icon"><img src="../../../assets/images/icon-pin-grey.svg" class="w-100"/></div>
  <select class="form-control">
  <option selected="selected">Area</option>
  </select>
  </div>
  <div class="form-group custom-checkbox">
      <input type="checkbox" id="css">
      <label for="css"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </span></label>
    </div>
  <button type="submit" class="btn btn-primary">Next</button>
</form> 
</div>
</div>
</div>
</div>
</section>
<section class="signupdetail section">
<div class="container">
<div class="smalllogo"><img src="../../../assets/images/logo.png" class="w-100"/></div>
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">How it work</div></h2>
<div class="row">
<div class="col-md-6">
<div class="mobile-screen">
<img src="../../../assets/images/loginscreen.png" class="w-100"/>
</div>
</div>
<div class="col-md-6">
<div class="rider-process">
<ul>
<li class="active"><a><div class="title">Signup </div>
<div class="subtitle">Launch the app to start receiving order bookings</div>
</a></li>
<li><a><div class="title">Wait for Approval</div>
<div class="subtitle">Accept a order booking to receive your Restaurant details</div>
</a></li>
<li><a><div class="title">Upload Your Menu</div>
<div class="subtitle">A GPS navigation system will show the Restaurant's location to be picked up</div>
</a></li>
<li><a><div class="title">Start Serving your Customers</div>
<div class="subtitle">Select Drop Off once you've reached your destination and collect your fare</div>
</a></li>
</ul>
</div>
</div>
</div>
</div>
</section>
<section class="benefits section">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">merchant benefits</div></h2>
<ul>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Buy Food Equipments</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Help with Photographic</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Low Commission</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Own Contact Person</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>No startup Costs</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Thai & Eng support</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>No Monthly Fees</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Polite & educated Riders</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Help with marketing</span></li>
<li><div class="icon"><img src="../../../assets/images/correct-green.svg" class="w-100" /></div> <span>Get started fast</span></li>
</ul>
</div>
</section>
<section class="riderfeature">
<div class="feature-1">
<div class="container">
<div class="row">
<div class="col-md-3">
<h2 class="head">
<div class="bgicon"><img src="../../../assets/images/location.png" class="w-100" /></div>
<div class="name">merchant with
hungry now</div>
</h2>
</div>
<div class="col-md-7">
<div class="img">
<a href="#" class="play-btn"><i class="far fa-play-circle"></i></a>
<img src="../../../assets/images/foundationvideobg.jpg" class="w-100"/></div>
</div>
<div class="col-md-2">
<div class="logo"><img src="../../../assets/images/funfact-logo.png" class="w-100"/></div>
</div>
</div>
</div>
</div>

</section>
<section class="feature-2">
<div class="container">
<div class="box">
<div class="image"><img src="../../../assets/images/womanshef.png" class="w-100"/></div>
<div class="name">Easy
<span>Fast</span>
Safe</div>
</div>
</div>
</section>
<section class="feature-3">
<div class="container">
<div class="row">
<div class="col-md-6"></div>
<div class="col-md-6">
<div class="box">
<div class="icon"><img src="../../../assets/images/quate.png" class="w-100"/></div>
<div class="title">Explore 
<span>your business</span></div>
<div class="btn-box"><a href="#" class="red-btn">Register Now!</a></div>
</div>
</div>
</div>
</div>
</section>
<section class="downloadapp">
<div class="container">
<h2 class="head center"><div class="name">Download The hungry now  merchant App Now!</div></h2>
<div class="box">
<div class="row">
<div class="col-md-6">
<div class="label"> Scan QR Code</div>
<div class="qr"><img src="../../../assets/images/qrcode.png" class="w-100"/></div>
</div>
<div class="col-md-6">
<div class="label"> Download app</div>
<div class="store-btn">
<a><img src="../../../assets/images/googleplay.png" class="w-100"/></a>
<a><img src="../../../assets/images/appstore.png" class="w-100"/></a>
</div>
</div>

</div>
</div>
</div>
</section>
<section class="riderfaq">
<div class="container">
<h2 class="head center"><div class="bgicon"><img src="../../../assets/images/location.png" class="w-100"></div><div class="name">Frequently Asked Questions</div></h2>
<div class="slider">
<app-riderfaqs></app-riderfaqs>
</div>
</div>
</section>
</main>
<app-footer></app-footer>
